.Navbar {
    padding: 5px 40px !important;
    margin-bottom: 20px;
    font-size: 21px;
    font-weight: bolder;
    background-color: #1b6b2b;
}

.nav-item {
    padding: 10px;
    margin: 0 10px;
}
