@import url('https://fonts.googleapis.com/css?family=Cuprum&display=swap');

body {
  margin: 0;
  font-family: 'Cuprum', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  white-space: pre-line;
}